<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.IdentityClub.Base_IdClu"/>
      <class name="com.IdentityIQ.Base_Idiq"/>
      <class name="com.MyFreeScoreNow.Base_Myfree"/>
      <class name="com.PrivacyGuard.Base_PrivacyGuard"/>
      <class name="com.SmartCredit.Base_SmartCredit"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
